<div class="jumbotron">
    <h1 class="display-4">Character Matcher</h1>
    <p class="lead">Answer a few questions.</p>
    <hr class="my-4">
    <p class="sublead">To find which character matchs you the most.</p>

    <div id="surTag"><a class="btn btn-primary btn-lg" id="surveyPage" href="/survey" role="button">Start Survey</a>
    </div>
    <div class="refLinks"><a class="directlinks" target="_blank" href="https://github.com/nadeemprasla/CharacterMatcher">Git Hub</a><a
            class="directlinks" target="_blank" href="https://expressjs.com/en/api.html">Express</a>
    </div>
</div>



<script type="text/javascript">
    $("#surveyPage").on("click", (event) => {
        $.ajax("/survey", {
            type: "GET"
        }).then((err) => {
            if (err) console.log("error", err);
        })
    });

</script>