h1, .lead,.sublead, #surveyPage {
    text-align: center;
    align-items: center;
}
#surTag{
    align-items: center;
    text-align: center;
}

.refLinks{
    text-align: center;
    align-items: center;
    padding-top: 10px;
}
.directlinks{
    padding: 0px 10px;
}